body {
  background-image: url("https://img.freepik.com/premium-vector/seamless-pattern-cute-dog-puppy-symbol-toy-paw-footstep-cartoon-funny-happy-dog-concept-with-simple-shape-style-illustration-background-wallpaper-textile-fabric_253081-200.jpg");
  margin: 0px;
  margin-bottom: 25px;
}

img {
  border-radius: 20px;
  height: 300px;
}

img:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

#detail-image:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1)
}

h1 {
  color: #ECAF5C;
  padding-left: 6vw;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  background-color: #222222;
  font-size: 5rem;
  font-family: arial;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-shadow: 0 0 5px #000;
}

h2, p {
  text-align: center;
  color: white;
  font-family: arial;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
    
}

#all-players-container {
  display: flex;
  flex-wrap: wrap;
  flex: 100px;
  column-gap: 50px;
  row-gap: 50px;
  
}

#single {
  text-align: right;
  background-color: #222222;
  border-radius: 20px;
  margin-left:auto;
  margin-right:auto;
  padding: 15px;
  width: 600px;
  height: 70vh;
}

#detail-image {
 height: 70vh;
 float: left;
}


.players {
  text-align: center;
  background-color: #222222;
  border-radius: 20px;
  margin-left:auto;
  margin-right:auto;
  padding: 15px;
  width: 300px;
  height: 450px;
}



/* media switch */
@media (max-width: 550px) {
  /* .content {
    width: 100vw;
  } */

  #detail-image {
    text-align: center;
    

      /* height: 100%; */
   }

   /* .players {
    text-align: center;
    background-color: #222222;
    border-radius: 20px;
    margin-left:auto;
    margin-right:auto;
    padding: 15px;
    width: 100vh;
    height: 100vh;
    overflow:scroll; */
  

  #single {
    /* float: center; */
    text-align: center;
    background-color: #222222;
    border-radius: 20px;
    object-fit: contain;
    padding: 15px;
    /* width: 50vw; */
    height: 100%;
    /* overflow:scroll;  */
  }
}
